<div class="container">
    <div class="row">

        <div class="col-md-12 text-success text-center">
            <h2>{{firstName}}, tu correo electrónico ha sido confirmado!!!</h2>
        </div>

    </div>
</div>